* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #c8c9c9;
    height: 90%;
    color: black;
}

.top {
    height: 15em;
    background-color: #00a884;
}

.logo {
    width: 2em;
    height: 2em;
}

.name {
    font-size: 14px;
    color: white;
    text-transform: uppercase;
}

.logoAndName {
    display: flex;
    align-items: center;
    gap: 1em;
    width: 90%;
    height: 60%;
    margin: 0 auto;
}


/*  */

.window {
    height: 20em;
    width: 90%;
    height: 50em;
    background-color: rgb(255, 255, 255);
    position: absolute;
    z-index: 1;
    top: 9em;
    align-self: center;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}



.inicio {
    width: 90%;
    border: 1px solid #d1d7db;
    height: 10em;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.textoh3 {
    font-size: 1.0625rem;
}

.texto {
    font-size: .875rem;
}

.informacoes {
    width: 90%;
    height: 25em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: flex-start;
}


.list {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 0 auto;
}

@media only screen and (min-width: 1400px) {
    .window {
        width: 70%;
        height: 50em;
    }

    .logoAndName {
        width: 70%;
    }
}

@media only screen and (min-width: 2560px) {
    .window {
        width: 50%;
        height: 50em;
    }

    .logoAndName {
        width: 50%;
        font-size: 30px;
    }
    .name {
        font-size: 25px;
    }

    .textoh3 {
        font-size: 30px;
    }

    .texto {
        font-size: 20px;
    }
}